div(id='exampleModalToggle' class='modal fade' aria-hidden='true' aria-labelledby='exampleModalToggleLabel' tabindex='-1')
	.modal-dialog.modal-dialog-centered.video-filter-modal
		.modal-content
			.modal-body
				video(id='videoElement' width='560' height='315' controls autoplay loop muted)
					source(src='video/buying_bitcoin_cashapp.mp4' type='video/mp4')
button(class='btn btn-primary' data-bs-target='#exampleModalToggle' data-bs-toggle='modal') Open first modal
